<table id="board">
    <thead>
        <tr>
            <th>User Story</th>
            {{#each states}}
                <th>{{ this.label }}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each stories}}
        <tr id="story_{{ id }}">
            <td class="story">
                <em>As</em> {{ who }}<br>
                <em>I want</em> {{ what }}</br>
                <em>So that</em> {{ why }}
            </td>
            {{#each tasks_by_state}}
                <td>
                    {{#each this}}
                        <div class="card" id="{{ id }}" draggable="true">{{ summary }}</div>
                    {{/each}}
                </td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
